<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>COMPRA CANCELADA</h1>
        {{!-- <h3>{{message}}</h3> --}}

        <button class="btn btn-warning my-5" onclick="location.href='/products'">VOLVER</button>
    </div>
</div>